<h1>Top 25 Movies</h1>

<div id='home-container'>
<!--
    Notice the 'each' tag, which is something from Handlebars
    This is going to go through every movie
-->
{{#each movies}}
    <!--
        The "@index" grabs the index. Rather handy!
        We'll use this to traverse elements.
    -->
    <a class='home-movie' href='/movie/{{@index}}'>
        <div class='home-movie-content'>
            <!--
                This looks intimidating, but lets break it down
                Each item in 'movies' has properties like 'im:image',
                which is an array. The 2nd element has a label.
            -->
            <img class='home-movie-image' src={{im:image.2.label}}/>
            <!--
                Same here; each movie has an im:name,
                and name has a label.
            -->
            <div class='home-movie-data'>
                <h2>{{im:name.label}}</h2>
                <p><b>Release:</b> {{im:releaseDate.attributes.label}}</p>
                <p><b>Price:</b> {{im:price.label}}
            </div>
        </div>
    </a>
{{/each}}
</div>
