<h1>{{movie.im:name.label}}</h1>

<div class='movie-content'>
    <img class='movie-image' src={{movie.im:image.2.label}}/>
    <div class='movie-text'>
        <p><b>Release:</b> {{movie.im:releaseDate.attributes.label}}</p>
        <div class='movie-summary'>
            <b>Summary:</b>
            <p>{{{movie.summary.label}}}</p>
        </div>
    </div>
</div>


<video width="400px" height="170px" controls>
    <source src={{movie.link.1.attributes.href}} type={{movie.link.1.attributes.type}}>
</video>
