<h1>{{movie.im:name.label}}</h1>

<div class='movie-content'>
    <!-- Move poster and link to official site -->
    <div class='movie-image-cont'>
        <img class='movie-image' src={{movie.im:image.2.label}} width='170px' height='255px'/>
        <a href={{movie.link.0.attributes.href}}><button>Official iTunes Site</button></a>
    </div>
    <!-- Other info-->
    <div class='movie-text-cont'>
        <p><b>Release:</b> {{movie.im:releaseDate.attributes.label}}</p>
        <div class='movie-summary'>
            <b>Summary:</b>
            <p>{{{movie.summary.label}}}</p>
        </div>
    </div>
</div>


<video width="400px" height="170px" controls>
    <source src={{movie.link.1.attributes.href}} type={{movie.link.1.attributes.type}}>
</video>
